.boxes {
  position: relative;
  background-color: aquamarine;
  border: 4px solid magenta;
}
.box {
  margin: 15px auto;
  color: black;
  border: 4px dashed red;
  width: 140px;
  height: 140px;
  background-color: blue;
  font-size: 30px;
}
#box1 {
  position: static; /*default value*/
}
#box2 {
  background-color: cornflowerblue;
  /* position: relative; */
  /* 자기자신의 위치를 기준 */
  left: 40%;
}
#box3 {
  /* 부모 요소 기준, 요소의 위치가 떠서(floating) box3, box4가 빈자리를 채움 */
  position: absolute;
  top: 20px;
  left: 20px;
}
#box4{
    background:tomato;
    /* 뷰포트(브라우저)기준 */
    position:fixed;

}
