.height-default {
  border-width: 2px;
  border-style: dashed;
  border-color: greenyellow;
}
/* .height-px {
  height: 300px;
  border: 2px solid violet;
} */
.height-pct {
  border: 2px dashed tomato;
  height: 50%;
}
html,
body {
  /* height: 100%; */
  height: 100vh;
}
